concourse:
  lookup:
    version: v4.2.1
    exe_hash: sha224=e61f943104ee61f07651fb85d28825b1e001c89742a06e97ce8aac28
    user: concourse
    group: concourse
    base_url: https://github.com/concourse/concourse/releases/download
    exe_name: concourse_linux_amd64
    install_dir: /home/concourse

    postgres_user: concourse
    postgres_password:

    local_user:
    local_password:
    web_options: {}

    worker_options: {}
    worker_tags:
      - a-tag
      - another-tag
    worker_tsa_host: 127.0.0.1
    worker_garden_dns_server: 8.8.8.8
