{% set concourse = salt['grains.filter_by']({
  'default': {
    'version': 'v3.9.1',
    'exe_hash': 'sha224=e61f943104ee61f07651fb85d28825b1e001c89742a06e97ce8aac28',
    'user': 'concourse',
    'group': 'concourse',
    'base_url': 'https://github.com/concourse/concourse/releases/download',
    'exe_name': 'concourse_linux_amd64',
    'install_dir': '/home/concourse',

    'postgres_user': 'concourse',
    'postgres_password': 'changeme-65f2de184f5e1d5ec57',

    'web_auth_basic_username': 'changeme',
    'web_auth_basic_password': 'changeme',
    'web_external_url': 'http://' + salt['network.interface_ip']('eth1') + ':8080',
    'web_options': {},

    'worker_options': {},
    'worker_tags': [],
    'worker_tsa_host': '127.0.0.1',
  }
},
merge=salt['pillar.get']('concourse:lookup'), base='default') %}

{% do
  concourse.update({'pki_dir': concourse.install_dir + '/keys'}),
  concourse.update({'bin_dir': concourse.install_dir + '/bin'}),
  concourse.update({'exe_url': '/'.join([concourse.base_url, concourse.version, concourse.exe_name])}),
  concourse.update({'worker_work_dir': concourse.install_dir + '/worker'}),
  concourse.update({'web_postgres_url':
                    'postgres://{}:{}@127.0.0.1/atc'.format(concourse.postgres_user,
                                                            concourse.postgres_password )})
%}
