{% set concourse = salt['grains.filter_by']({
  'default': {
    'version': 'v3.9.2',
    'exe_hash': 'sha224=8bbc4ec0f7172a0e7a8e466ee1ec525ec1b643a323a5d690e942820e',
    'user': 'concourse',
    'group': 'concourse',
    'base_url': 'https://github.com/concourse/concourse/releases/download',
    'exe_name': 'concourse_linux_amd64',
    'install_dir': '/home/concourse',

    'postgres_user': 'concourse',
    'postgres_password': 'changeme-65f2de184f5e1d5ec57',

    'web_auth_basic_username': 'changeme',
    'web_auth_basic_password': 'changeme',
    'web_options': {},
    'web_external_ip': salt['network.interface_ip']('eth1'),
    'web_fqdn': None,
    'worker_options': {},
    'worker_tags': [],
    'worker_tsa_host': '127.0.0.1',
    'worker_garden_dns_server': '8.8.8.8'
  }
},
merge=salt['pillar.get']('concourse:lookup'), base='default') %}

{% do
  concourse.update({'pki_dir': concourse.install_dir + '/keys'}),
  concourse.update({'bin_dir': concourse.install_dir + '/bin'}),
  concourse.update({'exe_url': '/'.join([concourse.base_url, concourse.version,
                                         concourse.exe_name])}),
  concourse.update({'worker_work_dir': concourse.install_dir + '/worker'}),
  concourse.update({'web_postgres_url':
                    'postgres://{}:{}@127.0.0.1/atc'.format(concourse.postgres_user,
                                                            concourse.postgres_password )})
%}
