{% set concourse = salt['grains.filter_by']({
  'default': {
    'version': 'v4.2.1',
    'exe_hash': 'sha224=8c78e9a21a0b5fcc0eb9bb210c37fde7ef7d7a292912198b56b933b4',
    'user': 'concourse',
    'group': 'concourse',
    'base_url': 'https://github.com/concourse/concourse/releases/download',
    'exe_name': 'concourse_linux_amd64',
    'install_dir': '/home/concourse',

    'postgres_host': '127.0.0.1',
    'postgres_user': 'concourse',
    'postgres_password': 'changeme-65f2de184f5e1d5ec57',
    'postgres_hba': [],
    'postgres_version': '9.6',

    'local_user': 'changeme',
    'local_password': 'changeme',
    'web_options': {},
    'web_external_ip': salt['network.interface_ip']('eth1'),
    'web_fqdn': None,

    'worker_options': {},
    'worker_tags': [],
    'worker_tsa_host': '127.0.0.1:2222',
    'worker_garden_dns_server': '8.8.8.8',

    'ssm_tsa_private_key': '',
    'ssm_tsa_public_key': '',
    'ssm_worker_private_key': '',
    'ssm_worker_public_key': ''
  }
},
merge=salt['pillar.get']('concourse:lookup'), base='default') %}

{% do
  concourse.update({'pki_dir': concourse.install_dir + '/keys'}),
  concourse.update({'bin_dir': concourse.install_dir + '/bin'}),
  concourse.update({'exe_url': '/'.join([concourse.base_url, concourse.version,
                                         concourse.exe_name])}),
  concourse.update({'worker_work_dir': concourse.install_dir + '/worker'}),
%}
