{% set minio = salt['grains.filter_by']({
  'default': {
    'user': 'minio',
    'group': 'minio',
    'install_dir': '/opt/minio',
    'storage_dir': '/opt/minio/storage',
    'conf_dir': '/opt/minio/conf',
    'server_url': 'https://dl.minio.io/server/minio/release/linux-amd64/minio',
    'client_url': 'https://dl.minio.io/client/mc/release/linux-amd64/mc',
    'buckets': [],
  }
},
merge=salt['pillar.get']('minio:lookup'), base='default') %}

{% do
  minio.update({'server_exe': minio.install_dir + '/minio'}),
  minio.update({'client_exe': minio.install_dir + '/mc'})
%}
