{%- from "concourse-ci/minio-map.jinja" import minio with context -%}

[Unit]
Description=minio S3 object storage
After=network-online.target
Wants=network-online.target

[Service]
User={{ minio.user }}
Group={{ minio.group }}
Type=simple
Restart=on-failure
Environment="MINIO_ACCESS_KEY={{ minio.access_key }}"
Environment="MINIO_SECRET_KEY={{ minio.secret_key }}"
ExecStart={{ minio.server_exe }} server \
  --config-dir {{ minio.conf_dir }} \
  {{ minio.storage_dir }}

[Install]
WantedBy=multi-user.target
