{%- from "concourse-ci/map.jinja" import concourse with context -%}
{%- from "concourse-ci/vault-map.jinja" import vault with context -%}
[Unit]
Description=concourse web
After=network-online.target
Wants=network-online.target

[Service]
User={{ concourse.user }}
Group={{ concourse.group }}
Type=simple
Restart=on-failure
ExecStart={{ concourse.bin_dir }}/concourse web \
  --basic-auth-username {{ concourse.web_auth_basic_username }} \
  --basic-auth-password {{ concourse.web_auth_basic_password }} \
  --tsa-host-key {{ concourse.pki_dir }}/tsa_host_key \
  --session-signing-key {{ concourse.pki_dir }}/session_signing_key \
  --tsa-authorized-keys {{ concourse.pki_dir }}/authorized_worker_keys \
  --vault-url {{ vault.server_url }} \
  --vault-client-token {{ vault.dev_root_token }} \
  {%- for option, value in concourse.web_options.iteritems() %}
  --{{ option }} {{ value }} \
  {%- endfor %}
  --postgres-data-source {{ concourse.web_postgres_url }} \
{%- if concourse.web_fqdn %}
  --external-url https://{{ concourse.web_fqdn }}
{%- endif %}

[Install]
WantedBy=multi-user.target
