{%- from "concourse-ci/map.jinja" import concourse with context -%}
{%- from "concourse-ci/vault-map.jinja" import vault with context -%}
[Unit]
Description=concourse web
After=network-online.target
Wants=network-online.target

[Service]
User={{ concourse.user }}
Group={{ concourse.group }}
Type=simple
Restart=on-failure
ExecStart={{ concourse.bin_dir }}/concourse web \
  --add-local-user {{ concourse.local_user }}:{{ concourse.local_password }} \
  --main-team-local-user {{ concourse.local_user }} \
  --tsa-host-key {{ concourse.pki_dir }}/tsa_host_key \
  --session-signing-key {{ concourse.pki_dir }}/session_signing_key \
  --tsa-authorized-keys {{ concourse.pki_dir }}/authorized_worker_keys \
  --postgres-host {{ concourse.postgres_host }} \
  --postgres-user {{ concourse.postgres_user }} \
  --postgres-password {{ concourse.postgres_password }} \
  --postgres-database concourse \
  --vault-url {{ vault.server_url }} \
  --vault-client-token {{ vault.dev_root_token }} \
  {%- for option, value in concourse.web_options.iteritems() %}
  --{{ option }} {{ value }} \
  {%- endfor %}
{%- if concourse.web_fqdn %}
  --external-url https://{{ concourse.web_fqdn }}
{% else %}
  --external-url http://{{ concourse.web_external_ip }}:8080
{%- endif %}

[Install]
WantedBy=multi-user.target
