{%- from "concourse-ci/map.jinja" import concourse with context -%}
[Unit]
Description=concourse worker
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart={{ concourse.bin_dir }}/concourse worker \
  --work-dir {{ concourse.worker_work_dir }} \
  {%- for tag in concourse.worker_tags %}
  --tag {{ tag }} \
  {%- endfor %}
  {%- for option, value in concourse.worker_options.iteritems() %}
  --{{ option }}={{ value }}
  {%- endfor %}
  --tsa-host {{ concourse.worker_tsa_host }} \
  --tsa-public-key {{ concourse.pki_dir }}/tsa_host_key.pub \
  --tsa-worker-private-key {{ concourse.pki_dir }}/worker_key \
  --tsa-retry \
  --garden-dns-server {{ concourse.worker_garden_dns_server }}

[Install]
WantedBy=multi-user.target
